* {}

h1 {
    color: #f20d09;
    background-color: #ffecc6;
    font-family: Tahoma, sans-seif;
    text-align: center;
    padding: 12px;
    border-left: 20px #f20d09 solid;
    border-right: 20px #f20d09 solid;
}

h2 {
    color: #f20d09;
    background-color: #ffecc6;
    text-align: center;
}

.ingredients {
    border: 4px #f20d09 solid;
    width: 300px;
    height: 300px;
}

.ingredients li {
    padding: 4px;
}

ol li {
    padding: 8px;
}

.home a {
    border: 3px red solid;
    border-radius: 2px;
    padding: 13px;
    margin: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Tahoma, sans-seif;
    text-decoration: none;
    background-color: #ffecc6;
    color: #f20d09;

}

p {
    background-color: lightblue;
    border: 1px rgb(235, 117, 117) solid;
    padding: 5px;
    border-radius: 5px;
}